body{margin: 12px;}
input,td{font-size: 12px;}
div{margin:0px; padding:0px; font-size:12px;}
form{margin:0px;}
.clear{clear:both;}
.red{ color:#F00;}
a:link{ font-size:12px; text-decoration:none;}
a:hover{color:blue; font-size:12px; text-decoration:underline;}
a:visited{color:blue; font-size:12px; text-decoration:underline;}
a:active{color:blue; font-size:12px; text-decoration:underline;}
/*color:#000000;*/
a.white:link{color:#FFFFFF; font-size:12px; text-decoration:none;}
a.white:hover{color:#FFFFFF; font-size:12px; text-decoration:underline;}
a.white:visited{color:#FFFFFF; font-size:12px; text-decoration:none;}
a.white:active{color:#FFFFFF; font-size:12px; text-decoration:none;}
.black_border{border:1px solid #cccccc;}
.btn_border{border:1px solid #666666;}

.btn_submit{ background-color:#06F; height:30px; line-height:30px; text-align:center; color:#FFF; width:100px; border:1px solid #fff; cursor:pointer;}
.btn_cancel{ background-color:#dddddd; height:30px; line-height:30px; text-align:center; color:#666666; width:100px;border:1px solid #fff; cursor:pointer;}
.textarea_normal{ width:98%; height:40px;}