@charset "UTF-8";
body{ margin:0 auto; padding:0; font-family:"微软雅黑"; background-color:#f1f1f1; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, a,table{ margin:0; padding:0;}
.zong{ margin:0 auto; padding:10px;}
.dingdan00{ margin-top:20px; background:#FFF; border:#CCC 1px solid;border-radius: 5px; }
.dingdan00_an{ width:25px; height:20px;}

.xz001{ width:100%; height:50px; line-height:50px; font-size:20px; text-align:center; background-color:#1b7312; color:#fff; text-decoration:none}
.xz002{ width:100%; text-align:center; margin:10px 0px;}
.xz002 label{ width:80px; padding:10px; }
.xz002 input{ width:70%; border-radius:5px; border:#aeaeae 1px solid; font-size:16px; line-height:40px; height:40px; padding:0px 10px;}
.xz002 textarea{ width:70%; border-radius:5px; border:#aeaeae 1px solid;height:120px;font-size:16px; line-height:26px;padding:10px;}
.xz003{ width:100%; text-align:center; margin:10px 0px;}

.xz003 input{ width:90%; height:45px; line-height:45px; font-size:18px; text-align:center; background-color:#1b7312; color:#fff; border-radius:30px; border:none; line-height:40px;}
.xz004{ width:90%; text-align:center; height:100px;}
.xz004 .xz005{width:60px; float:left; clear:right;}
.xz004 .xz005 input{ width:40px; height:30px; margin-top:10px;}
.xz004 p{ width:70%; border-radius:5px; border:#aeaeae 1px solid;font-size:16px; line-height:26px;padding:10px;float:left; background-color:#FFF; text-align:left; margin:10px 0px;}

.xz006 {  border-radius:5px; border:#aeaeae 1px solid;font-size:16px; line-height:26px;padding:10px; background-color:#FFF; text-align:left; margin:10px 0px;}

.xz404{ width:100%; height:100%; background-color:#dd3c24; color:#fff; text-align:center; font-size:24px; font-family:"方正粗圆简体"; padding-top:60px;}
.xz404 a{color:#fff; text-decoration:none}